.popularBooksTitle{
    color: #282828;
    font-size: 32px;
}
.buttonPopular{
   background-color: #50C878;
   font-size: 14px;
   color: white;
}

.swiper-button-next, 
.swiper-button-prev {
  color: #4f46e5; /* indigo-600 */
  background: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.swiper-button-next::after, 
.swiper-button-prev::after {
  font-size: 1.2rem;
}

.swiper {
  padding: 20px 10px;
}
.authorTitle{
  font-size: 14px;
}

/* Add this inside your global CSS file */
.slow-scroll {
  transition: transform 20s ease-in-out;
}


/* Phone (small devices) */
@media (max-width: 640px) {
  /* Styles for phones */
  .mobileHidden{
    display: none;
  }
  .textHeading{
    font-size: 24px;
  }
  .textStack{
    font-size: 12px;
  }
  .textCodeDeploy{
  font-size: 26px;
}
}

/* Tablet (medium devices) */
@media (min-width: 641px) and (max-width: 1024px) {
  .webHidden{
    display: none;
  }
  .heightClass {
  height: auto;
  min-height: 600px;
}


}

/* Laptop & Higher (large devices) */
@media (min-width: 1025px) {
  /* Styles for laptops and desktops */
  
    .webHidden{
    display: none;
  }
  .heightClass {
  height: auto;
  min-height: 600px;
}
}